* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #181419;
    color: white;
}

.bodyRegistrarse {
    height: 100vh;
    background: linear-gradient(to right top, #24242473, #24242473), url("bg-register.jpg");
    background-size: cover;
    background-position: center;
}

.bodyRegistrarse .headerRegistrarse {
    color: #ffffff;
    height: 8vh;
    padding: 30px;
}

.bodyRegistrarse .headerRegistrarse .anclaLogo {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}

.bodyRegistrarse .headerRegistrarse .anclaLogo:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
}

.bodyRegistrarse .main .seccionRegistrarse {
    background-color: rgb(42, 42, 42);
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 1.2rem;
}

.bodyRegistrarse .main .seccionRegistrarse .tituloRegistrarse {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.bodyRegistrarse .main .seccionRegistrarse form {
    width: 100%;
    padding: 40px;
}

.bodyRegistrarse .main .seccionRegistrarse form input:not(.check, .boton),
.bodyRegistrarse .main .seccionRegistrarse form select {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding: 0px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 2px solid #9f3647;
    background-color: #333333;
    outline: none;
    color: rgb(255, 255, 255);
}

.bodyRegistrarse .main .seccionRegistrarse form .error input:not(.check, .boton),
.bodyRegistrarse .main .seccionRegistrarse form .error select {
    border: 2px solid #ff0000;
}

.bodyRegistrarse .main .seccionRegistrarse form .error-text {
    color: #ff0000;
    font-size: 0.8rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

.bodyRegistrarse .main .seccionRegistrarse form .terminos {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bodyRegistrarse .main .seccionRegistrarse form .terminos .textoCheck {
    margin-left: 10px;
}

.bodyRegistrarse .main .seccionRegistrarse form .boton {
    width: 87%;
    box-sizing: content-box;
    background-color: #9f3647;
    border: 2px solid #9f3647;
    color: #ffffff;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.bodyRegistrarse .main .seccionRegistrarse form .ayuda {
    margin-top: 40px;
    font-size: 1rem;
    text-decoration: none;
    color: #787878;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .bodyRegistrarse .headerRegistrarse {
        padding: 20px;
    }

    .bodyRegistrarse .headerRegistrarse .anclaLogo {
        font-size: 1rem;
    }

    .bodyRegistrarse .main .seccionRegistrarse {
        width: 95%;
        padding: 10px 10px;
    }

    .bodyRegistrarse .main .seccionRegistrarse .tituloRegistrarse {
        font-size: 2rem;
    }

    .bodyRegistrarse .main .seccionRegistrarse form {
        width: 100%;
        text-align: center;
    }

    .bodyRegistrarse .main .seccionRegistrarse form input:not(.check, .boton),
    .bodyRegistrarse .main .seccionRegistrarse form select {
        width: 80%;
        height: 35px;
        font-size: 1rem;
    }

    .bodyRegistrarse .main .seccionRegistrarse form .terminos {
        width: 80%;
        margin: 0 auto;
        font-size: 0.7rem;
    }

    .bodyRegistrarse .main .seccionRegistrarse form .boton {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70%;
        padding: 0.8rem 0.8rem;
        font-size: 0.8rem;
    }

    .bodyRegistrarse .main .seccionRegistrarse form .ayuda {
        text-align: left;
        font-size: 0.8rem;
    }
}